@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 1.5; */
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* outline: 1px rgba(0, 128, 0, 0.562) solid; */
}
body {
  padding: 20px 10px;
}
.header {
  /* margin-top: 20px; */
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
}
main,
main div,
article,
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div {
  margin: 25px;
  height: min-content;
}
main div:nth-of-type(1) {
  margin-top: 10px;
}
main div p {
  font-size: 0.8rem;
  font-weight: 700;
}
main div p:nth-of-type(2) {
  margin: 15px;
  font-size: 0.75rem;
}
main div img {
  width: 80%;
  max-width: 520px;
}
.purple {
  color: rgb(224, 9, 224);
}
article p:first-of-type {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}
.copy a {
  color: black;
  font-size: 0.7rem;
  text-decoration: underline;
}
h2 {
  font-size: 0.9rem;
  margin: 30px;
}
h2:last-of-type {
  margin: 45px;
}
.privacy {
  text-decoration: underline;
}
